<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Loki" />
  </extensions>

  <variable name="lokiUrl" value="${environment:LOKI_URL:whenEmpty=http\://localhost\:3100}" />
  <variable name="serviceName" value="${environment:LOKI_APP:whenEmpty=search-api}" />
  <variable name="serviceInstance" value="${environment:SEARCH_INSTANCE_ID:whenEmpty=${machinename}}" />

  <targets>
    <target name="console"
            xsi:type="Console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target name="loki"
            xsi:type="loki"
            endpoint="${var:lokiUrl}"
            batchSize="50"
            taskDelayMilliseconds="200"
            orderWrites="true">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="timestamp" layout="${date:format=o}" />
        <attribute name="level" layout="${level:lowercase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="traceId" layout="${aspnet-traceidentifier}" />
        <attribute name="requestPath" layout="${aspnet-request-url}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
      <label name="app" layout="${var:serviceName}" />
      <label name="instance" layout="${var:serviceInstance}" />
      <label name="level" layout="${level:lowercase=true}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,loki" />
  </rules>
</nlog>
